# Секция SQL

## Задание 1

Таблица transactions пердставлена следующими полями:
- clnt_id - уникальный идентификатор клиента;
- service_type - идентификатор услуги (внешний ключ);
- sum_amount - стоимость оказанной услуги в рублях;
- charge_type - тип налога, который будет удержан с sum_amount (внешний ключ);

Таблица (справочник) services:
- service_type - уникальный идентификатор услуги;
- service_name - название услуги;

Таблица (справочник) charges:
- charge_type - уникальный идентификатор типа налога;
- value - процент комиссии (вещественное число от 0 до 1);

Необходимо для каждой услуги <b>по названию</b> сформировать список топ-5 клиентов с максимальным суммарным налогом. Обратите внимание на то, что одна услуга может иметь несколько различных идентификаторов.

Формат итоговой таблицы:
- service_name;
- clnt_clnt_id;
- sum_charge;

In [ ]:
import os
import pandas as pd
import sqlite3
import numpy as np

In [ ]:
np.random.seed(0)
abon_pool = np.arange(1000, 1050, 1)
services_id = np.arange(0, 10, 1)
charges_id = np.arange(0, 15, 1)

size = 10 ** 5
data = pd.DataFrame({
    'clnt_id': np.random.choice(abon_pool, size),
    'service_type': np.random.choice(services_id, size),
    'sum_amount': np.random.uniform(1, 1000, size),
    'charge_type': np.random.choice(charges_id, size)
})
services_tab = pd.DataFrame({
    'service_type': services_id,
    'service_name': ['SMS', 'SMS', 'Call', 'Call', 'Call', 'Internet',
                     'Internet', 'Payment', 'Payment', 'Payment']
})
charges_tab = pd.DataFrame({
    'charges_type': charges_id,
    'value': [0.1, 0.2, 0.05, 0.21, 0.3, 0.15, 0.08, 0.07, 0.09,
                     0.13, 0.5, 0.42, 0.38, 0.16, 0.24]
})

con = sqlite3.connect("main.db")
cur = con.cursor()
# Создаем таблицу с транзакциями
cur.execute("CREATE TABLE IF NOT EXISTS transactions(clnt_id, service_type, sum_amount, charge_type)")
cur.execute("DELETE FROM transactions")
con.commit()
cur.executemany("INSERT INTO transactions VALUES(?, ?, ?, ?)", data.values)
con.commit()
# Создаем таблицу с сервисами
cur.execute("CREATE TABLE IF NOT EXISTS services(service_type, service_name)")
cur.execute("DELETE FROM services")
con.commit()
cur.executemany("INSERT INTO services VALUES(?, ?)", services_tab.values)
con.commit()
# Создаем таблицу с налогами
cur.execute("CREATE TABLE IF NOT EXISTS charges(charge_type, value)")
cur.execute("DELETE FROM charges")
con.commit()
cur.executemany("INSERT INTO charges VALUES(?, ?)", charges_tab.values)
con.commit()

In [ ]:
# Здесь напишите решение
query = """
SELECT * FROM transactions LIMIT 10
"""

cur.execute(query)
res = cur.fetchall()
res

[(1044.0, 3.0, 357.5439254754585, 0.0),
 (1047.0, 0.0, 367.02606795120994, 8.0),
 (1000.0, 3.0, 266.16512435929263, 12.0),
 (1003.0, 3.0, 419.8037865126452, 12.0),
 (1003.0, 6.0, 882.55542359535, 11.0),
 (1039.0, 0.0, 136.24547587762027, 8.0),
 (1009.0, 6.0, 654.2232304839036, 14.0),
 (1019.0, 3.0, 967.063794046691, 11.0),
 (1021.0, 1.0, 218.3961324657107, 6.0),
 (1036.0, 0.0, 139.87797925489457, 13.0)]

# Секция Python

## Задание 1

На вход функции поступет список целых чисел, причем у каждого числа кроме одного есть пара. Функция должна вернуть число, для которого в списке нет пары.

\*Попробуй решить без использования дополнительной памяти.\
**И с линейной сложностью.

<b>Например</b>
```
Input: nums = [2,2,1]
Output: 1

Input: nums = [4,1,2,1,2]
Output: 4

Input: nums = [1]
Output: 1
```

In [ ]:
# Код с решением
def unique_number(x:list) -> int:
  pass

## Задание 2
Для заданного числового списка *X* напишите две функции, возвращающие список *Y*, такие что коэффицент корреляции между X и Y равен нулю при округлении до второго знака после точки.

In [ ]:
x = np.random.randint(-1000, 1000, 10**5)

In [ ]:
# Код с решением и проверкой
def g1(v:list) -> list:
  pass

def g2(v:list) -> list:
  pass